@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1,h2,h3{
        @apply text-4xl font-bold mb-8 md:text-5xl text-blue-950;
    }
}
.section-container{
    @apply max-w-6xl mx-auto text-center;
}
.text-content{
    @apply max-w-3xl text-2xl mx-auto mb-10 text-gray-400;
}
.btn-container{
    @apply flex flex-col justify-center w-full space-y-6 text-white text-xl md:flex-row md:space-y-0 md:space-x-4;
}
body{
    background-image:url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size:contain;
}
@media(max-width:576px){
    body{
        background-image:url('../images/bg-header-mobile.png');
    }
}